header .back-button {
  display: block;
  position: relative;
  float: left;
  width: 110px;
  height: 110px;
  padding: 30px;
  z-index: 2;
}

header .back-button .back-icon {
  background: url('images/icons/left-arrow-white.png') no-repeat;
  display: block;
  position: relative;
  width: 50px;
  height: 57px;
}

.icon-panel {
  overflow: hidden;
  *zoom: 1;
  display: block;
  height: 104px;
  background-color: white;
  padding: 2px;
  padding-right: 0;
}
/* line 35, sass/_detail_view.sass */
.icon-panel > a {
  display: block;
  position: relative;
  margin-right: 2px;
  width: 100px;
  height: 100px;
  float: left;
}

.icons-tile-camera {
  background: url('images/icons/tile-camera.png') no-repeat;
}

.icons-tile-video {
  background: url('images/icons/tile-video.png') no-repeat;
}

.icons-tile-mic {
  background: url('images/icons/tile-mic.png') no-repeat;
}

#app-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform:translate3d(0,0,0);
}

.stage-center {
    top: 0;
    left: 0;
}

.stage-left {
    left: -100%;
}

.stage-right {
    left: 100%;
}

.transition {
    -moz-transition-duration: .375s;
    -webkit-transition-duration: .375s;
    -o-transition-duration: .375s;
}