.icon-panel {
  overflow: hidden;
  display: block;
  height: 62px;
  background-color: white;
  padding: 1px;
  padding-right: 0;
}
/* line 35, sass/_detail_view.sass */
.icon-panel > a {
  background-repeat: no-repeat;
  background-size: 60px;
  display: block;
  position: relative;
  margin-right: 1px;
  width: 60px;
  height: 60px;
  float: left;
}

.icons-tile-camera {
  background: url('../images/icons/tile-camera.png') no-repeat;
}

.icons-tile-video {
  background: url('../images/icons/tile-video.png') no-repeat;
}

.icons-tile-mic {
  background: url('../images/icons/tile-mic.png') no-repeat;
}

.app-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform:translate3d(0,0,0);
}

.stage-center {
    top: 0;
    left: 0;
}

.stage-left {
    left: -100%;
}

.stage-right {
    left: 100%;
}

.transition {
    -moz-transition-duration: .375s;
    -webkit-transition-duration: .375s;
    -o-transition-duration: .375s;
}