<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=0.5,  minimum-scale=0.5, maximum-scale=0.5">
  <title>Capturematic</title>

  <!-- ========= -->
  <!--    CSS    -->
  <!-- ========= -->
  <link rel="stylesheet" href="resources/css/app.css">
  <link rel="stylesheet" href="resources/css/style.css">

  <!-- ========= -->
  <!-- Libraries -->
  <!-- ========= -->
  <script src="http://localhost:8080/target/target-script-min.js#anonymous"></script>
  <script src="resources/lib/jquery.js" type="text/javascript"></script>
  <script src="resources/lib/cordova-2.3.0.js"></script>
  <script src="resources/lib/SFHybridApp.js"></script>
  <script src="resources/lib/SalesforceOAuthPlugin.js"></script>
  <script src="resources/lib/lodash.js" type="text/javascript"></script>
  <script src="resources/lib/backbone.js" type="text/javascript"></script>
  <script src="resources/lib/forcetk.js" type="text/javascript"></script>
  <script src="resources/lib/backbone.force.js" type="text/javascript"></script>
  <script src="resources/lib/main.js"></script>

  <script>
    var logToConsole = cordova.require("salesforce/util/logger").logToConsole;
    // The version of the Force.com REST API you wish to use in your app.
    var apiVersion = "v27.0";

    // Log JS errors to Cordova console
    window.onerror = function(message, url, lineNumber) {
      logToConsole("Error: "+message+" in "+url+" at line "+lineNumber);
    };
    
    jQuery(document).ready(function() {
      // Add event listeners and so forth here
      document.addEventListener("deviceready", onDeviceReady,false);
    });

    // When this function is called, Cordova has been initialized and is ready 
    // to roll 
    function onDeviceReady() {
	    // Call getAuthCredentials to get the initial session credentials
      cordova.require("salesforce/plugin/oauth").getAuthCredentials(
        salesforceSessionRefreshed, getAuthCredentialsError);

      // Register to receive notifications when autoRefreshOnForeground 
      // refreshes the sfdc session
      document.addEventListener("salesforceSessionRefresh",
        salesforceSessionRefreshed,false);
    }

    function salesforceSessionRefreshed(creds) {
      // Depending on how we come into this method, `creds` may be callback 
      // data from the auth plugin, or an event fired from the plugin.  The 
      // data is different between the two.
      var credsData = creds;
      if (creds.data)  // Event sets the `data` object with the auth data.
        credsData = creds.data;
      var client = new forcetk.Client(credsData.clientId, credsData.loginUrl);
      client.setSessionToken(credsData.accessToken, apiVersion, 
        credsData.instanceUrl);
      client.setRefreshToken(credsData.refreshToken);
	    myapp(client);
    }

    function getAuthCredentialsError(error) {
      logToConsole("getAuthCredentialsError: " + error);
    }
  </script>
</head>
<body>
  <!-- ========= -->
  <!-- HTML CODE -->
  <!-- ========= -->
  <div id="app-wrapper">
    <header>
      <h1>Loading...</h1>
    </header>
    <div id="app-content">
      <div id="status">
        <h2 style="margin: 0.75em;">Starting app...</h2>
      </div>
    </div>
  </div>

  <!-- ========= -->
  <!-- Templates -->
  <!-- ========= -->
  <script type="text/template" id="objects-template">
    <header>
      <h1>Objects</h1>
    </header>
    <div id="app-content">
      <section>
        <p>Select an object, then a record, then capture photos, audio or video to post to its Chatter page:</p>
      </section>
      <ul id="object-list" class="list-view right-one-icons">
      </ul>
    </div>
  </script>

  <script type="text/template" id="records-template">
    <header>
      <div class="back-button"><span class="back-icon">&nbsp;</span></div>
      <h1>Records</h1>
    </header>
    <div id="app-content">
      <section>
        <p>Search <b><%= label %></b> records on <b><%= nameField.label %></b> field:</p>
        <form id="filter-form" action="#">
          <input type="search" name="filter" id="filter" value="" />
          <input type="submit" id="search-button" value="Search" />
        </form>
      </section>
      <ul id="record-list" class="list-view right-one-icons">
      </ul>
    </div>
  </script>

  <script type="text/template" id="object-template">
    <a href="#<%= name %>" class="content">
      <h2><%- label %></h2>
    </a>
    <div class="list-view-icons">
      <span class="icon-right-arrow">&nbsp;</span>
    </div>
  </script>
    
  <script type="text/template" id="record-template">
    <% if (typeof(Id) !== 'undefined') { %>
      <a href="#<%= type %>-<%= Id %>" class="content">
        <h2><%- Name %></h2>
      </a>
    <% } else { %>
      <h2><%- Name %></h2>
    <% } %>
    <div class="list-view-icons">
      <span class="icon-right-arrow">&nbsp;</span>
    </div>
  </script>

  <script type="text/template" id="record-detail-template">
    <header>
      <div class="back-button"><span class="back-icon">&nbsp;</span></div>
      <h1>Capture</h1>
    </header>
    <div id="app-content">
      <div class="detail-view-header">
        <div class="content">
          <h1><%- Name %></h1>
        </div>
      </div>
      <div class="content">
        <section>
          <p>Capture media and post to Chatter for <%- Name %></p>
          <h2>Message</h2>
          <textarea id="message" rows="4"></textarea>
        </section>
        <section>
          <div class="icon-panel">
            <a href="#" class="icons-tile-camera get_picture">&nbsp;</a>
            <a href="#" class="icons-tile-mic capture_audio">&nbsp;</a>
            <a href="#" class="icons-tile-video capture_video">&nbsp;</a>
          </div>
        </section>
      </content>
    </div>
  </script>

  <!-- =============== -->
  <!-- Javascript code -->
  <!-- =============== -->
  <script type="text/javascript">
    function myapp(client) {
      Backbone.Force.initialize(client);
	  
      var app = {}; // create namespace for our app
	
      //--------------
      // Models
      //--------------
      app.Object = Backbone.Force.Model.extend({
      });
      
      app.ContentVersion = Backbone.Force.Model.extend({
        type:'ContentVersion',
        fields:['ContentDocumentId']
      });

      //--------------
      // Collections
      //--------------
      app.ObjectsCollection = Backbone.Force.Collection.extend({
        model: app.Object,
        // Override fetch() to get the list of SObjects
        fetch:function (options) {
          // Setting options if it wasn't passed to the function
          options = options ? _.clone(options) : {};
       
          // Setting options url property
          options.url = Backbone.Force._getServiceURL() + '/sobjects/';
       
          if (options.parse === undefined) options.parse = true;
          var collection = this,
          success = options.success,
          sobjects = [];
          options.success = function (resp, status, xhr) {
            // Adding result to the sobjects array
            sobjects.push.apply(sobjects, resp.sobjects);

            collection[options.add ? 'add' : 'reset'](collection.parse(sobjects, xhr), options);
            if (success) success(collection, resp);
          };
          options.error = Backbone.wrapError(options.error, collection, options);
          return this.sync.call(this, 'read', this, options);
        }
      });
      
      //--------------
      // Views
      //--------------

      // renders individual Record list item (li)
      app.ObjectView = Backbone.View.extend({
        tagName: 'li',
        template: _.template($('#object-template').html()),
        render: function(){
          this.$el.html(this.template(this.model.toJSON()));
          return this; // enable chained calls
        }
      });
      
      // renders individual Record list item (li)
      app.RecordView = Backbone.View.extend({
        tagName: 'li',
        template: _.template($('#record-template').html()),
        render: function(){
          // Annotate the record with its type, so we can render it as a link
          var record = _.extend(this.model.toJSON(), {type: this.model.type});
          this.$el.html(this.template(record));
          return this; // enable chained calls
        }
      });

      var showError = function(error){
        var errorText = ((typeof error === 'object') ? JSON.stringify(error) : error);
        logToConsole(errorText);

        navigator.notification.alert(errorText, undefined, 'Error');
      }
      
      var uploadContent = function(filename, contentType, imageData, recordId){
        // Create a new ContentVersion and save it
        // Note that this mechanism is limited to 50 MB of data - to upload
        // bigger files we would need send binary data in a multipart message
        // Note - 50MB is about 6 minutes of video
        var contentVersion = new app.ContentVersion({
          Origin: 'H',            // 'H' for a Chatter File, 'C' for a Content document
          PathOnClient: filename, // Hint as to type of data
          VersionData: imageData
        });
        // $.mobile.loading('show', {
        //   text: 'Uploading '+contentType+' to Chatter Files',
        //   textVisible: true,
        // });
        contentVersion.save(null, {
          success: function() {
            // Fetch the ContentVersion record to get the ContentDocumentId
            // $.mobile.loading('show', {
            //   text: 'Fetching Document ID',
            //   textVisible: true,
            // });
            contentVersion.fetch({
              success: function() {
                logToConsole("Created contentVersion.attributes.ContentDocumentId: "+
                  contentVersion.attributes.ContentDocumentId);
                // Post to Chatter feed for Record
                // $.mobile.loading('show', {
                //   text: 'Posting Chatter message',
                //   textVisible: true,
                // });
                var message = $("#message").val();
                var body = message ? {
                    messageSegments : [{
                      type: 'Text',
                      text: message
                    }]
                } : null;
                var payload = { 
                  attachment: {
                    attachmentType: "ExistingContent",
                    contentDocumentId: contentVersion.attributes.ContentDocumentId
                  },
                  body: body
                };
                client.ajax('/'+apiVersion+'/chatter/feeds/record/'+recordId+'/feed-items',
                  function(){
                    // $.mobile.loading("hide");
                    navigator.notification.alert('Posted '+contentType+' successfully', undefined, 'Success');
                    // $.mobile.changePage("#success", { role: "dialog", changeHash: false });
                  },
                  showError,
                  'POST',
                  JSON.stringify(payload));
              },
              error: showError
            });
          },
          error: function(model, xhr, options) {
            showError('status='+xhr.status+
              '\nstatusText='+xhr.statusText+
              '\nresponseText='+xhr.responseText);
          }
        });                           
      };
      
      var uploadMediaFile = function(mediaFile, contentType, recordId){
        var reader = new FileReader();
        reader.onloadend = function(evt) {
            logToConsole('Reading '+mediaFile.name+' as data URL');
            var contentData = evt.target.result.split(',')[1];
            uploadContent(mediaFile.name, contentType, contentData, recordId);
        };
        reader.readAsDataURL(mediaFile);
      };

      // renders individual Record for editing
      app.RecordDetailView = Backbone.View.extend({
        template: _.template($('#record-detail-template').html()),
        render: function(){
          // Annotate the record with its type, so we can render the link
          var record = _.extend(this.model.toJSON(), {type: this.model.type});
          this.$el.html(this.template(record));
          return this; // enable chained calls
        },
        initCaptureError: function(){
          this.captureError = {};
          this.captureError[CaptureError.CAPTURE_INTERNAL_ERR] = 
          'Camera or microphone failed to capture image or sound.';
          this.captureError[CaptureError.CAPTURE_APPLICATION_BUSY] = 
          'Camera application or audio capture application is currently serving other capture request.';
          this.captureError[CaptureError.CAPTURE_INVALID_ARGUMENT] = 
          'Invalid use of the API.';
          this.captureError[CaptureError.CAPTURE_NO_MEDIA_FILES] = 
          'User exited camera application or audio capture application before capturing anything.';
          this.captureError[CaptureError.CAPTURE_NOT_SUPPORTED] = 
          'The requested capture operation is not supported.';
        },
        initialize: function(){
          this.initCaptureError();
          this.model.on('destroy', this.remove, this);
          this.render();
        },
        events: {
          'change' : 'change',
          'click .get_picture' : 'getPicture',
          'click .capture_audio': 'captureAudio',
          'click .capture_video': 'captureVideo'
        },
        change: function (event) {
            // Apply the change to the model
            var target = event.target;
            var change = {};
            change[target.name] = target.value;
            this.model.set(change);
        },
        getPicture: function(){
          self = this;
          var options = {
            quality: 50,
            correctOrientation: true,
            // Very useful for debugging in the emulator!
            //sourceType: Camera.PictureSourceType.PHOTOLIBRARY,
            sourceType: Camera.PictureSourceType.CAMERA,
            destinationType: Camera.DestinationType.DATA_URL
          };
          navigator.camera.getPicture(function(imageData) {
            uploadContent('image.png', 'image', imageData, self.model.attributes.Id);
          }, function(errorMsg) {
            showError(errorMsg);
          }, options);
          return false;
        },
        captureAudio: function(){
          self = this;
          navigator.device.capture.captureAudio(function(mediaFiles) {
            uploadMediaFile(mediaFiles[0], 'audio', self.model.attributes.Id);
          }, function(error) {
            showError(self.captureError[error.code]);
          });
          return false;
        },
        captureVideo: function(){
          self = this;
          navigator.device.capture.captureVideo(function(mediaFiles) {
            uploadMediaFile(mediaFiles[0], 'video', self.model.attributes.Id);
          }, function(error) {
            showError(self.captureError[error.code]);
          });
          return false;
        }
      });

      // renders the full list of Objects calling ObjectView for each one.
      app.ObjectsView = Backbone.View.extend({
        template: _.template($('#objects-template').html()),
        initialize: function() {
          this.render();
          this.model.on('add', this.render, this);
          this.model.on('reset', this.render, this);
        },
        renderOne: function(object){
          var view = new app.ObjectView({model: object});
          this.$('#object-list').append(view.render().el);
        },
        render: function(){
          this.$el.html(this.template());
          this.$('#object-list').empty();
          for (var i = 0, l = this.model.models.length; i < l; i++) {
            if (this.model.models[i].get("feedEnabled")){
              this.renderOne(this.model.models[i]);
            }
          }
        },
        close: function() {
          logToConsole("IN CLOSE!!!");
        }
      });

      // renders the full list of Records calling RecordView for each one.
      app.RecordsView = Backbone.View.extend({
        template: _.template($('#records-template').html()),
        initialize: function() {
          this.render();
          this.model.on('add', this.render, this);
          this.model.on('reset', this.render, this);
        },
        renderOne: function(record){
          if (this.options.nameField.name !== 'Name') {
            record.set('Name', record.get(this.options.nameField.name));
          }
          var view = new app.RecordView({model: record});
          this.$('#record-list').append(view.render().el);
        },
        render: function(){
          this.$el.html(this.template({
            label: this.options.label,
            type: this.options.type, 
            nameField: this.options.nameField
          }));
          this.$('#record-list').empty();
          for (var i = 0, l = this.model.models.length; i < l; i++) {
            this.renderOne(this.model.models[i]);
          }
        },
        close: function() {
          logToConsole("IN CLOSE!!!");
        }
      });

      app.RecordModel = null;
      app.RecordsCollection = null;
      
      //Define the Application Router
      app.Router = Backbone.Router.extend({ 
        routes: {
          ":type-:id": "record",
          ":type?filter=:filter": "object",
          ":type": "object",
          "": "objects"
        },
        initialize: function() {
          // Keep track of the history of pages (we only store the page URL). Used to identify the direction
          // (left or right) of the sliding transition between pages.
          this.pageHistory = [];

          // Register event listener for back button throughout the app
          $('#app-wrapper').on('click', '.back-button', function(event) {
              window.history.back();
              return false;
          });
        },
        objects: function() {
          var objectsCollection = new app.ObjectsCollection(),
            self = this;
          objectsCollection.fetch({
            success: function(){
              self.slidePage(new app.ObjectsView({model: objectsCollection}));
            },
            error: function(model, response) {
              logToConsole('ERROR::'+response.responseText);
            }
          });
        },
        getNameField: function(type, callback) {
          client.ajax('/'+apiVersion+'/sobjects/'+type+'/describe/',
            function(response){
              var done = false;
              _.each(response.fields, function(field){
                if (field.nameField) {
                  callback(response, field);
                  done = true;
                }
              });
              if (!done) {
                callback(response, null);
              }
            },
            showError);          
        },
        object: function(type, filter) {
          var self = this;

          // Worksaround - for some reason, the router doesn't parse a
          // missing filter correctly
          var queryPos = type.indexOf('?');
          if (queryPos != -1) {
            type = type.substring(0,queryPos);
          }
          this.getNameField(type, function(describe, nameField){
            app.RecordModel = Backbone.Force.Model.extend({
              type: type,
              fields: ['Id',nameField.name]
            });
            var whereClause = filter ? "WHERE "+nameField.name+" LIKE '"+filter+"%'" : "WHERE Id != ''";
            whereClause += " LIMIT 20";
            app.RecordsCollection = Backbone.Force.Collection.extend({
              model: app.RecordModel,
              query: whereClause
            });
            var records = new app.RecordsCollection();
            records.fetch({
              success: function(){
                self.slidePage(new app.RecordsView({
                  model: records,
                  nameField: nameField,
                  label: describe.label,
                  type: type
                }));
                // Activate the search button
                $('#search-button').on('click', function(event){
                  event.preventDefault();
                  var filter = $('#filter').val();
                  app.router.navigate(type+"?filter="+filter, {trigger: true});
                });
              },
              error: function(model, response) {
                logToConsole('ERROR::'+response.responseText);
              }
            });
          });
        },
        record: function(type,id) {
          var record = new app.RecordModel({Id: id}),
            self = this;
          record.fetch({success: function(){
            self.slidePage(new app.RecordDetailView({
              model: record,
              type: type
            }));
          }});
        },
        slidePage: function(page) {
          var slideFrom,
            self = this;

          if (!this.currentPage) {
            // If there is no current page (app just started) -> No transition: Position new page in the view port
            $(page.el).attr('class', 'page stage-center');
            $('#app-wrapper').empty();
            $('#app-wrapper').append(page.el);
            this.pageHistory = [window.location.hash];
            this.currentPage = page;
            return;
          }

          // Cleaning up: remove old pages that were moved out of the viewport
          $('.stage-right, .stage-left').not('#searchPage').remove();

          if (page === this.searchPage) {
            // Always apply a Back (slide from left) transition when we go back to the search page
            slideFrom = "left";
            $(page.el).attr('class', 'page stage-left');
            // Reinitialize page history
            this.pageHistory = [window.location.hash];
          } else if (this.pageHistory.length > 1 && window.location.hash === this.pageHistory[this.pageHistory.length - 2]) {
            // The new page is the same as the previous page -> Back transition
            slideFrom = "left";
            $(page.el).attr('class', 'page stage-left');
            this.pageHistory.pop();
          } else {
            // Forward transition (slide from right)
            slideFrom = "right";
            $(page.el).attr('class', 'page stage-right');
            this.pageHistory.push(window.location.hash);
          }

          $('#app-wrapper').append(page.el);

          // Wait until the new page has been added to the DOM...
          setTimeout(function() {
              // Slide out the current page: If new page slides from the right -> slide current page to the left, and vice versa
              $(self.currentPage.el).attr('class', 'page transition ' + (slideFrom === "right" ? 'stage-left' : 'stage-right'));
              // Slide in the new page
              $(page.el).attr('class', 'page stage-center transition');
              self.currentPage = page;
          });
        }
      });

   	  app.router = new app.Router();
      Backbone.history.start();
    }
  </script>

</body>
</html>